.signup {
    background-image: url('/LoginHero.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.signupContainer {
    background: rgba(255, 255, 255, 0.15);
    padding: 3rem;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    width: 30rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signupContainer label {
    color: grey;
    font-size: 0.9rem;
    display: block;
    margin: 8px 0 4px;
    text-align: left;
}

.signupContainer h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.signupContainer p {
    color: grey;
    font-size: 0.8rem;
}

.signupContainer a {
    color: #1C4A2A;
    font-weight: 600;
}

.inputField {
    width: 100%;
    padding: 1rem;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.submitButton {
    background-color: #0b4b2f;
    color: white;
    border: none;
}

.resetButton {
    background-color: #c0a080;
    color: white;
    border: none;
}
input:focus{
    outline: none;
}
.inputcontainer{
    display: flex;
    gap: 10px;
}