.calendarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: scroll;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.monthYear {
    font-weight: 600;
}

.datesContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.dateButton,
.selectedDate {
    width: 65px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    background: white;
    border: 0.0625rem solid #ddd;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 0.875rem;
    color: #333;
}

.selectedDate {
    background: #004d40;
    color: white;
    font-weight: bold;
}

.arrowContainer {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrowContainer:hover {
    background: #e0e0e0;
}

.arrow {
    font-size: 0.875rem;
    color: #333;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.arrowWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.leftArrow,
.rightArrow {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.date,
.day {
    font-size: 0.75rem;
}
