  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .profileImage {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .specialty {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .experience {
    font-size: 14px;
    color: #444;
  }
  
  .ratingContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .bookButton {
    background-color: #ebeff3;
    color: rgb(16, 15, 15);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    margin-top: 1rem;
  }
  
  .bookButton:hover {
    background-color: #1f4124;
    color: white;
  }
  .imageContainer{
    align-self: center;
  }