.pageContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.headerSection {
    margin-bottom: 24px;
}

.infoText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.docCount {
    font-size: xx-large;
    font-weight: 500;
}

.docCount span {
    font-weight: 700;
}

.subText {
    color: #666;
    font-size: 14px;
}
.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.filterHeader p {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.resetButton {
    background: none;
    color: #1c4a2a;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.resetButton:hover {
    text-decoration: underline;
}

.filterSection {
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #e0e8e0;
    padding: 16px;
    border-radius: 8px;
}

.filterTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterOption {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #444;
}

.filterOption input {
    accent-color: #1c4a2a;
    width: 16px;
    height: 16px;
}

.mainContent {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.filtersContainer {
    width: 30%;
    align-self: flex-start;
}

.gridContainer {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.applyBtn {
    background-color: #1c4a2a;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 8px;
}

.applyBtn:hover {
    background-color: #145214;
}

@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtersContainer {
        width: 100%;
        margin-bottom: 24px;
    }

    .gridContainer {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
